body {
    font-family: Roboto;
    background: #229189;

    /* This is a fallback background, made for older browsers */
    background: -webkit-linear-gradient(to right, rgb(25, 79, 196), rgb(26, 24, 15));
    /* Chrome 10-25, Safari 5.1-6 */
   /* background: linear-gradient(to right, rgb(25, 79, 196), rgb(26, 24, 15));*/
	

}

#container {
    height: 575px;
    width: 360px;
    margin: 100px auto;
    background: #f7f7f7;
    box-shadow: 0 0 3px rgba (0,0,0, 0.1);
    border-radius: 20px;

}

h1 {
    /*background: linear-gradient(to right, rgb(25, 79, 196), rgb(26, 24, 15));*/
	background: #18645F;
    color: white;
    margin: 0;
    padding: 10px 100px;
    text-transform: uppercase;
    text-align: center;
    font-size: 18px;
    font-weight: normal;
    border-top-left-radius: 20px;
    border-top-right-radius:20px;

}

p {
padding-left: 20px;

}

form input[type = "text"] {
    width: 90px;

}

input {
    padding-left: 20px;

}

#question1 {
	margin-left: 50px;
	
	
}

#question2 {
	margin-left: 40px;
	
	
}

#question3 {
	margin-left: 50px;
	
	
}

#principal {
    font-size: 14px;
    color: rgb(32, 76, 170);
    background-color: #f7f7f7;
    width: 50%;
    padding: 5px 5px 8px 8px;
	margin: 0px 80px 0px 0px;
	
}

#principal:focus {
    background: #fff;
    border: 3px solid #2980b9;
    outline: none;
}

#currency:before {
	 content: "$";
	 margin-left: 50px;
    margin-right: 5px;
	
	
	
}

#annualRate {
    width: 50%;
    padding: 5px 5px 8px 8px;
    margin-left: 77px;
    color: rgb(57, 88, 224);
    background-color: #f7f7f7;
    font-size: 14px;

}

.dollarSign {
    display: inline;
}

#mortgagePeriod {
    padding: 5px 5px 8px 8px;
    margin-left: 85px;
    font-size: 14px;
	width: 50%;

}

button {
    text-transform: uppercase;
    font-weight: bold;
    display: block;
    margin: 30px auto;
	
    /*background: linear-gradient(to left, rgb(25, 79, 196), rgb(26, 24, 15));*/
	background: #18645F;
    border-radius: 5px;
    width: 200px;
    height:50px;
    font-size: 17px;
    color: white;

}

button:hover {
    background: #2B9089;
    border-bottom-color: #111;

}

button:active {
    position: relative;
    top: 1px;

}

#totalMortgage {
    font-size: 20px;
    
   
	
}

#mortgage::before {
	content: "$";
	
	
	
}
/*#totalMortgage:before {
    content: "Your Mortgage is";
    font-size: 20px;
    font-weight: bold;
    display: block;
    margin: -10px 0px 0px 0px;
}*/

/*#totalMortgage:after {
    content: " a month";
    font-size: 20px;
    font-weight: bold;
    display: block;
    
}*/

/*
#totalMortgage small {
    content: " a month!";
    font-size: 20px;
    font-weight: bold;
    display: block;

}*/
